/*page*/
body {
    background-color:#EBF4FA;
	font-family: Arial;
    font-weight: normal;
    color:#FFFFFF;
}

h2 {
    font-size: 18pt;
		margin-bottom: 5px;
    color:#000080;
}
h3 {
    font-size: 16pt;
		margin-bottom: 5px;
    color:#000080;
}
a:link {color:#000080;}   
a:visited {color:#000080;} 
a:hover {color:#808080;}  
a:active {color:#808080;}  
a:link {text-decoration:none;}

/*tiles and colours*/
#main-container {
    max-width: 900px;	
    min-width: 900px;
    margin: 0 auto;

}
.tile {
    width: 550px;
    height: 530px;
    margin: 5px;
    padding: 20px;
    float: left;
border-style:dashed dashed dashed dashed;
    border-width:1px;
border-color:#000080;
}
.tile-half {
    width: 275px;
    height: 135px;
    margin: 5px;
    padding-top: 0px;
		padding-left: 10px;
    float: right;    
}
.tile-thin {
    width: 880px;
    height: 20px;
		margin: 5px;
    padding-top: 2px;
		padding-left: 10px;
		float: left;
}

.lightorange {
    background-color:#ffcc33;
}

.mediumorange {
    background-color:#ff9933;
}

.darkorange {
    background-color:#cc3300;
}

/*extras */
#face { 
background-image: url(gmilneface.jpg); 
background-size:155px 160px;
width: 155px; 
height: 160px;
float: right;
top:-10px;
right:-5px;
border-style:dashed dashed dashed dashed;
border-width:1px;
border-color:#000080;
}

#facebook {
	  list-style:none;
    padding-left:0;
		width: 50px;	
		height: 50px;
    margin-top: 10px;
		margin-left: 5px;
		margin-right: 20px;
		float: left;
}

#researchgate {
	  list-style:none;
    padding-left:0;
		width: 50px;	
		height: 50px;
    margin-top: 10px;
		margin-left: 5px;
		margin-right: 5px;
		float: left;
}

#linkedin {
	  list-style:none;
    padding-left:0;
		width: 50px;	
		height: 50px;
    margin-top: 10px;
		margin-left: 10px;
	  margin-right: 0px;
		float: left;
}
